* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #d3d3d3;
  color: #000;
}

button {
  cursor: pointer;
  transition: .5s;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.layout {
  min-height: 100dvh;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}